.theme--light.v-application code {
  background-color: unset;
  font-family: Roboto, sans-serif;
}
pre.hljs {
padding: 13px;
border-radius: 5px;
background-color: rgb(0 255 9 / 3%) !important;
}

think {
padding: 3px;
border-radius: 5px;
color: #001e67;
background-color: #002bff0d;
display: block;
}


code{
/* color: yellow!important; */
padding: 0 !important;
white-space: pre-wrap;
word-wrap: break-word;
}

[v-cloak] {
display: none;
}
button.runButton {
  width: 100%;
  display: block;
  background-color: aliceblue;
}